<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.persistence.EmployeeMapper">
	<update id="updateEmp" parameterType="com.metanet.domain.EmployeeVO">
		UPDATE EMPLOYEE
		<choose>
			<when test="batisDeptNo != null and batisPosNo != null">
				SET DEPT_NO = #{batisDeptNo},
				POS_NO = #{batisPosNo}
			</when>
			<when test="batisDeptNo != null and batisPosNo == null">
				SET DEPT_NO = #{batisDeptNo},
			</when>
			<when test="batisDeptNo == null and batisPosNo != null">
				SET POS_NO = #{batisPosNo}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		WHERE EMP_NO = #{empNo}
	</update>
	
	<insert id="saveHistory">
		INSERT INTO EMP_HISTORY
		VALUES (SEQ_EMP_HISNO.nextval, #{batisEmpNo}, #{posNo}, #{beforePos}, #{deptNo}, #{beforeDept}, #{issuedDate}, #{issuedOrder}, #{issuedContent} )
	</insert>
	
	<select id="findByEmpNo" resultType="com.metanet.domain.EmployeeVO">
		SELECT EMP_NO, DEPT_NO AS BATIS_DEPT_NO, POS_NO AS BATIS_POS_NO, EMP_NAME, EMP_GENDER, EMP_PHONE, EMP_SAL, EMP_EMAIL, EMP_HIREDATE, EMP_RETDATE,
		EMP_SSC, EMP_DEGREE, EMP_CAREER, EMP_PWD, EMP_PHOTO, EMP_MIL
		FROM EMPLOYEE
		WHERE EMP_NO = #{value}
	</select>
	
	<select id="findWorkingDate" resultType="map">
		SELECT * 
		FROM EMP_WORKINGHOUR ew, EMPLOYEE e 
		WHERE ew.EMP_NO = e.EMP_NO
		AND ew.EMP_NO = #{empNo}
		AND ew.WORK_START BETWEEN TO_DATE(#{startdate}, 'YYYYMMDD')
		AND TO_DATE(#{enddate}, 'YYYYMMDD') 
	</select>	
</mapper>