<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 @mapper로 설정된 경로 입력  -->        
<mapper namespace="com.metanet.persistence.suinEduMapper">
    <insert id="eduInsert" parameterType="com.metanet.domain.EduVO">
        INSERT INTO edu
        VALUES (seq_edu_no.nextval, 
        		#{eduTitle}, 
        		#{eduDesc}, 
        		#{eduLoc}, 
        		#{eduTime}, 
        		#{eduTeacher}, 
        		#{eduPeople}, 
        		#{eduTarget}, 
        		#{eduStart}, 
        		#{eduEnd}, 
        		#{eduCost},
        		0)
    </insert>
    
    <select id="eduHistorySelect" resultType="com.metanet.domain.AttendanceVO">
	     <![CDATA[
	    	select h.edu_hisno, 
	    		   to_char(e.edu_start,'yyyymmdd') as edu_start, 
	    		   to_char(e.edu_end,'yyyymmdd') as edu_end, 
	    		   h.attendance 
	    	from edu_history h, edu e
	    	where h.edu_no = e.edu_no
	    	and attendance < 100 
	    	and edu_start < sysdate
	    ]]>
    </select>
    
    <update id="eduAttendanceUpdate" parameterType="java.util.List">
    	<foreach item="item" collection="list" separator=";" open="DECLARE BEGIN" close="; END;">
    		update edu_history
    		 set attendance = #{item.attendance}
    		 where edu_hisno = #{item.eduHisno}
    	</foreach>
    </update>
    
    <select id="eduHistoryListSelect" resultType="com.metanet.domain.EduHistoryVO">
    	select * from (select rownum rn, history_list.*
    	from (select h.edu_hisno, d.edu_title, e.emp_no, e.emp_name, h.attendance, h.score
    	from employee e, edu d, edu_history h
    	where e.emp_no = h.emp_no
    	and d.edu_no = h.edu_no
    	<choose>
    		<when test='"eduTitle".equals(keyField) '>
    			and d.edu_title like '%' || #{keyword} || '%'
    		</when>
    		<when test='"empNo".equals(keyField) '>
    			and h.emp_no = #{keyword}
    		</when>
    		<when test='"empName".equals(keyField) '>
    			and e.emp_name like '%' || #{keyword} || '%'
    		</when>
    	</choose>
    	order by h.edu_hisno DESC) history_list) WHERE rn BETWEEN #{startNum} AND #{endNum}
    </select>
    
    <select id="eduHistorytotalCount" parameterType="Map" resultType="Integer">
    	select count(*)
    	from employee e, edu d, edu_history h, department dept
    	where e.emp_no = h.emp_no
    	and d.edu_no = h.edu_no
    	and dept.dept_no = e.dept_no
    	<choose>
    		<when test='"eduTitle".equals(keyField) '>
    			and d.edu_title like '%' || #{keyword} || '%'
    		</when>
    		<when test='"empNo".equals(keyField) '>
    			and h.emp_no = #{keyword}
    		</when>
    		<when test='"empName".equals(keyField) '>
    			and e.emp_name like '%' || #{keyword} || '%'
    		</when>
    	</choose>
    </select>
    
    <select id="getTotalCountForAllocation" parameterType="Map" resultType="Integer">
    	select count(*)
    	from employee e, department dept, position pos
    	where dept.dept_no = e.dept_no
    	and pos.pos_no = e.pos_no
    	<choose>
    		<when test='"deptName".equals(keyField) '>
    			and dept.dept_name like '%' || #{keyword} || '%'
    		</when>
    		<when test='"posName".equals(keyField) '>
    			and pos.pos_name = #{keyword}
    		</when>
    	</choose>
    </select>
    
    <select id="empListForAllocationSelect" resultType="com.metanet.domain.EmpListVO">
    	select *
    	from(select rownum rn, emp_list.* 
    	from(select e.emp_no, e.emp_name, pos.pos_name, dept.dept_name
    	from employee e, department dept, position pos
    	where dept.dept_no = e.dept_no
    	and pos.pos_no = e.pos_no
    	<choose>
    		<when test='"deptName".equals(keyField) '>
    			and dept.dept_name like '%' || #{keyword} || '%'
    		</when>
    		<when test='"posName".equals(keyField) '>
    			and pos.pos_name = #{keyword}
    		</when>
    	</choose>) emp_list) where rn between #{startNum} and #{endNum}
    </select>
    
    <insert id="eduHistroyInsert" parameterType="Map">
    <foreach collection="empNo" item="value" index="key" separator=";" open="DECLARE BEGIN" close="; END;">
    	insert into edu_history values(SEQ_EDU_HISNO.NEXTVAL, #{eduNo}, #{value}, 0, null)
    </foreach>
    </insert>
    
    <update id="eduScoreUpdate" parameterType="List">
    	<foreach collection="list" item="vo" separator=";" open="DECLARE BEGIN" close="; END;">
    	update edu_history
    	set score = upper(#{vo.score})
    	where edu_hisno = #{vo.eduHisno}
    	</foreach>
    </update>
    
    <select id="eduProgressList" resultType="com.metanet.domain.EduVO">
    	select edu_no, edu_start, edu_end
    	from edu
    	where edu_end+1 > SYSDATE
    </select>
    
    <update id="eduProgressUpdate" parameterType="List">
     	<foreach item="item" collection="list" separator=";" open="DECLARE BEGIN" close="; END;">
    		update edu
    		set edu_progress = #{item.eduProgress}
    		where edu_no = #{item.eduNo}
    	</foreach>
    </update>
</mapper>	