<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 @mapper로 설정된 경로 입력  -->        
<mapper namespace="com.metanet.persistence.suinEduMapper">
    <insert id="eduInsert" parameterType="com.metanet.domain.EduVO">
        INSERT INTO edu
        VALUES (seq_edu_no.nextval, 
        		#{eduTitle}, 
        		#{eduDesc}, 
        		#{eduLoc}, 
        		#{eduTime}, 
        		#{eduTeacher}, 
        		#{eduPeople}, 
        		#{eduTarget}, 
        		#{eduStart}, 
        		#{eduEnd}, 
        		#{eduCost},
        		0)
    </insert>
    
    <select id="eduHistorySelect" resultType="com.metanet.domain.AttendanceVO">
	     <![CDATA[
	    	select h.edu_hisno, 
	    		   to_char(e.edu_start,'yyyymmdd') as edu_start, 
	    		   to_char(e.edu_end,'yyyymmdd') as edu_end, 
	    		   h.attendance 
	    	from edu_history h, edu e
	    	where h.edu_no = e.edu_no
	    	and attendance < 100 
	    	and edu_start < sysdate
	    ]]>
    </select>
    
    <update id="eduAttendanceUpdate" parameterType="java.util.List">
    	<foreach item="item" collection="list" separator=";" open="DECLARE BEGIN" close="; END;">
    		update edu_history
    		 set attendance = #{item.attendance}
    		 where edu_hisno = #{item.eduHisno}
    	</foreach>
    </update>
</mapper>	